* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo .bg {
    position: relative;
    width: 275px;
    height: 275px;
    border-radius: 65px;
    background: linear-gradient(45deg,
    #ffcc00 0%,
    #fe6104 32%,
    #ff0c5a 50%,
    #fc03bb 62%,
    #7d0cfd 100%);
}

.logo .icon {
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 18px solid #fff;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo .icon::before {
    content: '';
    position: absolute;
    height: 170px;
    width: 170px;
    border: 18px solid #fff;
    border-radius: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo .icon:after {
    content:'';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    top: -35px;
    right: -35px;
}